{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medium_screen/index_medium.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/small_screen/index_small.css') }}">
{% endblock %}

{% block main %}
    <section>
        <h2 id="calcHeader">Calculate Monthly Payment</h2>

        <p class="overview">This loan calculator can help you determine the monthly payment amount for
            repaying a fixed-rate student loan. Simply, enter the loan amount, interest rate, and
            loan term below and click calculate. If using this monthly payment amount estimator for
            multiple loans, calculate each one separately and add up the payment estimates.
        </p>

        <div id="calcBox">
            <div class="flex-container">
                <div class="flex-item-left side-by-side" id="formDiv">
                    <form id="studentLoanCalcForm" method="POST">
                        <label for="txtLoanAmount">Loan Amount</label><br>
                        <span class="input-wrapper">
                            <span class="sign dollarSign">$</span>
                            <input type="text" class="number" id="txtLoanAmount" name="loanAmount" oninput="validate(this)" placeholder="0.00">
                        </span>
                        <br>
                        <label for="txtInterestRate">Interest Rate</label><br>
                        <span class="input-wrapper">
                            <input type="text" class="number" id="txtInterestRate" oninput="validate(this)" name="interestRate" placeholder="0">
                            <span class="sign" id="percentSign">%</span>
                        </span>
                        <br>
                        <label for="txtYearsToRepay">Loan Term in Years</label><br>
                        <span class="input-wrapper">
                            <input type="text" class="number" id="txtYearsToRepay" name="yearsToRepay" oninput="validate(this)" placeholder="0">
                        </span>
                        <br>
                        <button type="submit" id="btnCalculate">CALCULATE</button>
                    </form>
                </div> <!--formDiv ends here-->

                <div class="flex-item-right side-by-side" id="paymentDiv">
                    <h3>Your Monthly Payment</h3>

                    <p id="monthlyPayment">$0.00</p>

                    <div id="scheduleViewButton">
                    </div> <!--scheduleViewButton div ends here-->
                </div> <!--paymentDiv div ends here-->
            </div> <!--flex-containter div ends here-->
        </div> <!--calcBox div ends here-->
    </section>

    <section>
        <div id="exploreBox">
            <div id="exploreTop">
                <h3 id="exploreHeader">Explore</h2>

                    <p id="exploreArrow"><i class="arrow up"></i></p>

                    <p id="viewExplore">View Explore</p>
            </div> <!--exploreTop div ends here-->

            <div id="exploreHidden">
                <p class="overview exploreOverview">If you're interested in exploring the possibility of
                    repaying your loan faster, increase your monthly payment by entering an extra amount below.
                    By increasing your monthly payment amount, you can cut down on the duration of years and
                    months it will take you to pay off the loan. Explore how you can reach your debt-free goals
                    quicker!
                </p>

                <div id="payDetails">
                </div> <!--payDetails div ends here-->

                <form method="POST">
                    <label for="txtExtraPayment">Extra Payment Amount</label><br>
                    <span class="input-wrapper">
                        <span class="sign dollarSign">$</span>
                        <input type="text" class="number" id="txtExtraPayment" name="extraPayment" oninput="validate(this)" placeholder="0.00">
                    </span>
                    
                    <button type="submit" id="btnApplyExtraPay">Apply Extra Payment</button>
                </form>
            </div> <!--exploreHidden div ends here-->
        </div> <!--exploreBox div ends here-->
    </section>

    <section>
        <div id="scheduleTable">
        </div> <!--scheduleTable div ends here-->
    </section>
{% endblock %}