body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 50px;
}

header {
    margin-bottom: 50px;
    border-bottom: solid;
    border-width: thin;
}

h1 {
    margin-left: 50px;
    font-size: 30px;
    font-weight: 500;
    font-style: italic;
}

h1 a:link {
    text-decoration: none;
    transition-duration: 0.3s;
}

h1 a:active {
    color: #32CD32;
}

h1 a:hover {
    font-size: 40px;
}

h1 a:visited {
    color: none;
}

#xLetter {
    color:#32CD32;
}

#wordCalc {
    font-size: 10px;
    font-style: normal;
    text-transform: uppercase;
    position: relative;
    bottom: 5px;
}

footer {
    margin-top: 150px;
    background-color: #F0F0F0;
    padding: 70px;
    text-align: center;
}

#disclaimer {
    font-size: 12px;
    margin-bottom: 30px;
}