.flex-container {
    display: flex;
    flex-flow:  row nowrap;
}

.flex-item-left, .flex-item-right {
    flex: 50%;
}

.overview {
    width: 55%;
    margin-bottom: 40px;
    line-height: 1.5em;
    font-size: 1em;
}

#calcBox {
    border: solid;
    border-color: #D3D3D3;
    border-width: thin;
    background: linear-gradient(90deg, #F0F0F0 50%, #FFFFFF 50%);
}

.side-by-side {
    margin: 20px 0 20px 0;
    width: 45%;
    height: 400px;
    border: none;
    padding: 20px;
}

#formDiv {
    background-color: #F0F0F0;
}

#paymentDiv {
    text-align: center;
}

#txtExtraPayment {
    margin-left: 26px;
    width: 25%;
}

#btnApplyExtraPay {
    display: inline;
}

label, 
    button {
    margin: 15px;
}

button {
    padding: 15px;
    width: 220px;
    font-weight: bold; 
    background-color: #32CD32;
    border: none;
    transition-duration: 0.1s;
    cursor: pointer;
}

#btnCalculate {
    width: 40%;
}

#btnSchedule {
    width: 50%;
    margin-top: 100px;
}

button:hover {
    background-color: #000000;
    color: #ffffff;
}

input[type=text] {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 30px;
    width: 50%;
    padding: 8px;
    border: none;
    text-decoration: none;
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

#txtLoanAmount {
    margin-left: 26px;
    margin-right: -8px;
}

input[type=text]:focus {
    outline: none !important;
}

.input-wrapper {
    border: solid;
    border-width: thin;
    border-color: #D3D3D3;
    background-color: #ffffff;
    margin-left: 15px;
    width: 20%;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
}

.dollarSign {
    margin-left: 0px;
    margin-right: -30px;
}

#percentSign {
    margin-left: -15px;
}

.sign {
    color: #808080;
}

#exploreBox {
    border: solid;
    border-color: #D3D3D3;
    border-width: thin;
    padding: 1px 20px 1px 20px;
    border-top: none;
}

#exploreTop {
    cursor: pointer;
}

#exploreTop:hover {
    color: green;
    font-size: 1.1em;
}

#exploreHeader {
    display: inline-block;
    margin-left: 15px;
}

#viewExplore {
    float: right;
    margin-right: 10px;
    font-style: italic;
}

#exploreHidden {
    display: none;
}

.exploreOverview {
    margin-left: 15px;
}

#exploreArrow {
    float: right;
}

#exploreBox span {
    display: inline;
}

#scheduleHeader {
    margin-top: 40px;
}

#scheduleDataFrame {
    font-family: 'Roboto', sans-serif;
    font-size: 0.7em;
    border-collapse: collapse;
    width: 100%;
}

#scheduleDataFrame td, 
    #scheduleDataFrame th {
        border: 1px solid #DDDDDD;
        padding: 8px;
        text-align: right;
        font-size: 1em;
}

#scheduleDataFrame th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #32CD32;
}

#monthlyPayment {
    font-size: 3em;
    font-weight: 900;
}

#calcHeader {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}