#notFound {
    margin-top: 100px;
}

h2 {
    text-align: center;
    font-size: 40px;
}

#sorryMessage {
    margin-top: 50px;
    text-align: center;
    font-size: 25px;
}

#homepage:link {
    color: #32CD32;
}

#homepage:visited {
    color: #32CD32;
}

#homepage:hover {
    color: #808080;
}
