#notFound {
    margin-top: 100px;
}

h2 {
    text-align: center;
    font-size: 1em;
}

#sorryMessage {
    margin-top: 50px;
    text-align: center;
    font-size: 1.5em;
}

#homepage:link {
    color: #32CD32;
}

#homepage:visited {
    color: #32CD32;
}

#homepage:hover {
    color: #808080;
}
