@media (max-width: 640px) {
    #calcHeader {
        font-size: 25px;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
    }
    
    .flex-item-right, .flex-item-left {
        flex: 50%;
    }
    
    #calcBox {
        border: solid;
        border-color: #D3D3D3;
        border-width: thin;
        background: linear-gradient(#F0F0F0 25%, #FFFFFF 25%);
    }

    input[type=text] {
       width: 60%;
    }
    
    #txtExtraPayment {
        width: 60%;
    }

    #txtInterestRate {
        margin-right: 0;
    }

    .dollarSign {
        margin-right: -30px;
    }
    
    #percentSign {
        margin-left: -15px;
    }

    #btnCalculate {
        width: 80%;
    }
    
    #btnApplyExtraPay {
        width: 80%;
        display: block;
    }
    
    .overview {
        width: 95%;
        margin-bottom: 40px;
        line-height: 1.5em;
        font-size: 15px;
    }

    footer #disclaimer {
        font-size: 7px;
    }

    #btnSchedule {
        display: none;
    }
    
    .arrow {
        display: none;
    }

    #scheduleTable {
        display: none;
    }
}


