@media (max-width: 640px) {
    #calcHeader {
        font-size: 25px;
    }

    .flex-container {
        display: flex;
        flex-flow: row wrap;
    }
    
    .flex-item-right, .flex-item-left {
        flex: 50%;
    }
    
    #calcBox {
        border: solid;
        border-color: #D3D3D3;
        border-width: thin;
        background: linear-gradient(#F0F0F0 25%, #FFFFFF 25%);
    }
    
    #txtExtraPayment {
        margin-right: -8px;
    }
    
    #txtLoanAmount {
        margin-right: -8px;
    }
    
    #txtYearsToRepay {
        margin-right: -8px;
    }

    .dollarSign {
        margin-right: -30px;
    }
    
    input[type=text] {
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 5px;
        size: 10;
        border: none;
        background-color: #ffffff;
        text-decoration: none;
        -moz-appearance: textfield;
        
    }
    
    .input-wrapper {
        border: solid;
        border-width: thin;
        border-color: #D3D3D3;
        background-color: #ffffff;
        margin-left: 15px;
        padding: 10px;
        font-size: 15px;
        font-weight: bold;
    }
    
    .overview {
        width: 95%;
        margin-bottom: 40px;
        line-height: 1.5em;
        font-size: 15px;
    }

    footer #disclaimer {
        font-size: 7px;
    }

    #btnSchedule {
        display: none;
    }
    
    .arrow {
        display: none;
    }

    #scheduleTable {
        display: none;
    }
}


