@media (max-width: 1007px) {
    .flex-container {
        display: flex;
        flex-flow: row nowrap;
    }
    
    .flex-item-right, .flex-item-left {
        flex: 50%;
    }
    
    #calcBox {
        border: solid;
        border-color: #D3D3D3;
        border-width: thin;
        background: linear-gradient(90deg, #F0F0F0 50%, #FFFFFF 50%);
    }

    input[type=text] {
        padding: 5px;
        size: 10;
    }

    .dollarSign {
        margin-right: -30px;
    }
    
    #percentSign {
        margin-left: -10px;
    }
    
    .input-wrapper {
        width: 80%;
    }

    #btnCalculate {
        width: 50%;
    }

    #btnSchedule {
        width: 50%;
        margin-top: 65px;
    }
    
    .overview {
        width: 70%;
        margin-bottom: 40px;
        line-height: 1.5em;
        font-size: 15px;
    }
}


