<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoanX</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <header>
        <h1><a href="{{ url_for('home') }}">Loan<span id="xLetter">X</span></a></h1>
    </header>

    <main>
        <section>
            <h2 id="calcHeader">Calculate Monthly Payment</h2>

            <p class="overview">This loan calculator can help you determine the monthly payment amount for 
                repaying a fixed-rate student loan. Simply, enter the loan amount, interest rate, and 
                loan term below and click calculate. If using this monthly payment amount estimator for 
                multiple loans, calculate each one separately and add up the payment estimates.
            </p>

            <div id="calcBox">
                <div class="flex-container">
                    <div class="flex-item-left" id="formDiv">
                        <form id="studentLoanCalcForm" method="POST">
                            <label for="txtLoanAmount">Loan Amount</label><br>
                            <span class="input-wrapper">
                                <span class="sign dollarSign">$</span>
                                <input type="text" class="number" id="txtLoanAmount" name="loanAmount">
                            </span>
                            <br>
                            <label for="txtInterestRate">Interest Rate</label><br>
                            <span class="input-wrapper">
                                <input type="text" class="number" id="txtInterestRate" name="interestRate">
                                <span class="sign" id="percentSign">%</span>
                            </span>
                            <br>
                            <label for="txtYearsToRepay">Loan Term in Years</label><br>
                            <span class="input-wrapper">
                                <input type="text" class="number" id="txtYearsToRepay" name="yearsToRepay">
                            </span>
                            <br>
                            <button type="button" id="btnCalculate">CALCULATE</button>
                        </form>
                    </div> <!--formDiv ends here-->

                    <div class="flex-item-right" id="paymentDiv">
                        <h3>Your Monthly Payment</h3>

                        <p id="monthlyPayment">$0.00</p>

                        <div id="scheduleViewButton">
                        </div> <!--scheduleViewButton div ends here-->
                    </div> <!--paymentDiv div ends here-->
                </div> <!--flex-containter div ends here-->
            </div> <!--calcBox div ends here-->
        </section>

        <section>
            <div id="exploreBox">
                <div id="exploreTop">
                    <h3 id="exploreHeader">Explore</h2>

                    <p id="exploreArrow"><i class="arrow up"></i></p>

                    <p id="viewExplore">View Explore</p>
                </div> <!--exploreTop div ends here-->

                <div id="exploreHidden">
                    <p class="overview" id="exploreOverview">If you're interested in exploring the possibility of
                        repaying your loan faster, increase your monthly payment by entering an extra amount below. 
                        By increasing your monthly payment amount, you can cut down on the duration of years and 
                        months it will take you to pay off the loan. Explore how you can reach your debt-free goals 
                        quicker!
                    </p>

                    <form>
                        <label for="txtExtraPayment">Extra Payment Amount</label><br>
                        <span class="input-wrapper">
                            <span class="sign dollarSign">$</span>
                            <input type="text" class="number" id="txtExtraPayment" name="extraPayment">
                        </span>
                        <button type="button" id="btnExplore" onclick="applyExtraPayment();">Apply Extra Payment</button>
                    </form>
                </div> <!--exploreHidden div ends here-->
            </div> <!--exploreBox div ends here-->
        </section>

        <section>
            <div id="scheduleTable">
            </div> <!--scheduleTable div ends here-->
        </section>
    </main>

    <footer>
        <p id="disclaimer">LoanX does not guarantee the estimator accuracy or applicability to a person's 
            individual circumstances. The estimated monthly payment assumes the same payment amount and fixed
            interest rate for the life of the loan and does not account for a variable interest rate.
            The estimate does not account for missed payments, the use of deferment or forbearance, or
            any required minimum monthly payment amount for a particular loan. For new loans, this
            estimate does not account for any payments made during the in-school and separation or grace
            periods, or any interest that accrues or capitalizes during that time. For loans entering
            principal and interest repayment, this estimate does not factor in accruing interest or any
            payments made between now and when the loan enters principal and interest repayment.
        </p>

        <p>&#169 LoanX</p>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='lib/jquery - 3.6.0.js') }}"><\/script>')</script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>