<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>LoanX</title>
</head>
<body>
    <header>
        <h1>LoanX</h1>
    </header>

    <main>
        <form action="{{ url_for('get_monthly_payment') }}" id="studentLoanCalcForm" method="POST">
           <p>Calculate Monthly Payment</p>

           <label for="txtLoanAmount">Loan Amount: </label>
           <input type="text" id="txtLoanAmount" name="loanAmount">
           <br>
           <label for="txtInterestRate">Interest Rate: </label>
           <input type="text" id="textInterestRate" name="interestRate">
           <br>
           <label for="txtYearsToRepay">Years to Repay: </label>
           <input type="text" id="txtYearsToRepay" name="yearsToRepay">
           <br>
           <button id="btnSubmit" onclick="">SUBMIT</button>
        </form>

        <span id="monthlyPayment">
            {% if result %}
            {{ result }}
            {% endif %}
        </span> <!--monthlyPayment div ends here-->

        <div id="paymentSchedule">
        </div> <!--paymentSchedule div ends here-->
    </main>

    <footer>

    </footer>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script>window.jQuery || document.write('<script src="{{url_for('static', filename='jquery.js') }}">\x3C/script>')</script> -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>