<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LoanX</title>
</head>
<body>
    <header>
        <h1>LoanX</h1>
    </header>

    <main>
        <form id="studentLoanCalcForm" method="POST">
           <p>Calculate Monthly Payment</p>

           <label for="txtLoanAmount">Loan Amount: </label>
           <span class="sign" id="dollarSign">$</span>
           <input type="text" id="txtLoanAmount" name="loanAmount">
           <br>
           <label for="txtInterestRate">Interest Rate: </label> 
           <input type="text" id="txtInterestRate" name="interestRate"> 
           <span class="sign" id="percentSign">%</span>
           <br>
           <label for="txtYearsToRepay">Years to Repay: </label>
           <input type="text" id="txtYearsToRepay" name="yearsToRepay">
           <br>
           <button id="btnSubmit">SUBMIT</button>
        </form>

        <div id="monthlyPayment">
        </div> <!--monthlyPayment div ends here-->

        <div id="paymentSchedule">
        </div> <!--paymentSchedule div ends here-->
    </main>

    <footer>

    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='lib/jquery-3.6.0.js') }}"><\/script>')</script>
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>